{% extends "base.html" %}  

{% block title %} Restablece tu contraseña aquí {% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <!-- Título -->
            <h2 class="text-center mb-4">Restablece tu contraseña</h2>

            <!-- Formulario -->
            <form method="post" class="p-4 border rounded shadow-sm bg-light">
                {% csrf_token %}

                <!-- Campo de correo -->
                <div class="form-group mb-3">
                    <label for="id_email" class="form-label">Correo electrónico</label>
                    <input type="email" name="email" id="id_email" class="form-control" placeholder="Introduce tu correo electrónico" required>
                </div>

                <!-- Botón de envío -->
                <div class="form-group d-grid">
                    <button type="submit" class="btn btn-primary">Enviar correo para restablecer contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
